#
# Apache access control 
#
# @author Andreas Goetz <cpuidle@gmx.de>
# $Id: .htaccess,v 1.3 2013/03/14 17:17:27 andig2 Exp $
#

# avoid image expiry
<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresDefault "access plus 1 month"
</IfModule>

# enable compression
<IfModule mod_deflate.c>
	# Deflate zum zippen
	AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml ap plication/xhtml+xml text/javascript text/css
	BrowserMatch ^Mozilla/4 gzip-only-text/html
	BrowserMatch ^Mozilla/4.0[678] no-gzip
	BrowserMatch \bMSIE !no-gzip !gzip-only-text/html
</IfModule>
