/* drJeckyll's style */

body      {font-family:sans-serif; font-size:14px; background-color: #cbc9f4;}

a:link    {text-decoration:none; color:#000011;}
a:visited {text-decoration:none; color:#000011;}
a:active  {text-decoration:none; color:#000011;}
a:hover   {text-decoration:underline;}

.even {background-color:#b2b4ec;}
.odd  {background-color:#9ea0d2;}
.lent {background-color:#999999;}

.center {text-align: center;}

.filter {font-size:12px}

.list_title {font-weight:bold}
.list_diskid {font-weight:bold;font-size:12px}
.list_seen {font-size:12px}
.list_info {font-style:italic}
.list_plot {font-size:12px}

.tableborder {border-width:1px; border-style:solid; border-color:#9ea0d2;;}
.infobox {border-width:1px; border-style:solid; border-color:#000000; font-size:18px;}
.infobox td {text-align:center}

.show_title {font-size:20pt; font-weight:bolder;}
.show_subtitle {font-size:16pt; font-weight:bolder;}

.notavail {color:#ff0000; font-weight:bold}

.logo {color: navy; font-size:28px; font-weight:bolder; font-style:italic;}

.splitbrain {font-size:10px;}
.version {font-size:10px;}

.example {font-family:monospace; color:#004444;}

.textbox {font-family:sans-serif; font-size:12px; width:300px; height:120px }

/* setup screenshot thumbnails */
.setup-thumb {
	float: left;
	width: 105px;
	text-align: center;
	font-size: 12px;
	border: 1px solid #999;
	margin: 0 15px 15px 0;
	padding: 5px;
}

.setup-thumb a:hover {
	text-decoration: none;
}

/* this fixes a problem with opera */
tr {vertical-align: top;}
td {vertical-align: top; text-align:left}

/* special formatings for stuff in the helpbrowser */
.helpbrowser code {font-family:monospace; color:#004444;}
.helpbrowser td {background-color:#9ea0d2;}
.helpbrowser th {background-color:#9ea0d2;}
.helpbrowser h1 {text-align:center; font-size:20pt; font-weight:bolder;}
.helpbrowser h2 {margin-left:10px; font-size:16pt; font-weight:bolder;}
.helpbrowser h3 {margin-left:30px; font-size:12pt; font-weight:bolder; font-variant:small-caps}
.helpbrowser p  {text-align:justify; margin-left:50px; width:90%}
.helpbrowser pre {margin-left:50px; font-family:monospace; color:#004444;}
.helpbrowser ul {margin-left:50px; width:90%}
.helpbrowser table  {margin-left:50px; width:90%}
